# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Directorios de salida
dist/
build/
coverage/

# Configuración de IDEs/editores
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Sistemas operativos
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp
*.sublime-workspace

# Docker
docker-compose.override.yml
.dockerignore

# Otros archivos sensibles
*.pem
*.key
